DirectoryIndex public/index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^$ public/ [R=302,L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
